@import url(http://fonts.googleapis.com/css?family=Open+Sans);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  /*display: none;*/
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
  background: #ffffff;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #0ec8cb;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center {
  /*float: right;*/
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
  float: right;
  margin-top: 10px;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
  z-index: 2;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  padding: 20px 12px;
  font-size: 10pt;
  text-decoration: none;
  text-transform: uppercase;
  color: #1B242F;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #0ec8cb;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 24px;
  right: 15px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #0ec8cb;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  /*height: 0;*/
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  /*height: 32px;*/
}
#cssmenu ul ul li a {
  padding: 10px 20px;
  width: 170px;
  font-size: 12px;
  background: #333333;
  text-decoration: none;
  color: #dddddd;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}

#cssmenu .left-logo {
  float: left;
}
  #cssmenu .left-logo > img {
    height: 52px;
    float: left;
    margin: 10px 10px 10px 20px;
  }

  #cssmenu .left-logo > a {
    padding-top: 25px;
    display: inherit;
    text-transform: uppercase;
    font-size: 10pt;
    color: #1B242F;
  }

  #cssmenu .left-logo > a:hover {
    color: #0ec8cb;
    text-decoration: none;
  }

.search-bar-tip {
  float: right;
  font-size: 14px;
  margin-top: 30px;
  margin-right: 20px;
  position: relative;
}

.search-bar-tip a, .search-bar-tip a:active, .search-bar-tip a:visited, .search-bar-tip a:focus {
  padding: 4px;
  border:solid #1B242F;
  color: #1B242F;
}

.search-bar-tip a:hover {
  color: #0ec8cb;
  border-color: #0ec8cb;
}

.search-block {
  display: none;
  position: absolute;
  right: 20px;
  top: 70px;
  padding: 20px;
  background: #fff;
  z-index: 2;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#cssmenu ul li.search-block924 {
  display: none;
}

.show-search-block {
  display: block;
}

.search-field {
  float: right;
}

.lang-select {
  float: left;
  padding: 10px 20px 10px 0px;
}

.lang-select a {
  padding: 5px 4px;
  color: #94AEB0;
}

.lang-select a.active {
  border: 1px solid;
  pointer-events: none;
  cursor: default;
}

.lang-select a:hover:not(.active) {
  color: #FFF;
  background: #0ec8cb;
  text-decoration: none;
}

.lang-select a.active:hover {
  text-decoration: none;
}

@media all and (min-width: 1101px) and (max-width: 1250px) {

  #cssmenu .left-logo {
    /*width: 94%;*/
    /*float: none;*/
    width: 250px;
  }
}
@media all and (min-width: 925px) and (max-width: 1100px) {
  #cssmenu .left-logo {
    float: none;
    width: 250px;
    margin: auto;
    text-align: left;
  }

  #cssmenu {
    text-align: center;
  }

  #cssmenu .left-logo > img {
    /*display: none;*/
    margin-bottom: 2px;
  }

  #cssmenu .left-logo {
    float: none;
    width: 250px;
  }

  #cssmenu .left-logo a {
    padding-top: 20px;
  }

  #cssmenu.align-center > ul {
    float: none;
    display: inline-block;
  }

  .search-block {
    top: 128px;
  }

  #menu-button {
    pointer-events: none;
  }
}

@media all and (max-width: 924px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
    z-index: 2;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li,
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
    border-top: 1px solid rgba(120, 120, 120, 0.15);
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu ul ul li a {
    padding: 20px 20px 20px 30px;
    font-size: 10pt;
    color: #000000;
    background: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #000000;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 20px 20px;
    padding-bottom: 30px;
    color: #000000;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #000000;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 25px;
    right: 20px;
    display: block;
    width: 15px;
    height: 7px;
    border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.15);
    height: 52px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 21px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 26px;
    display: block;
    width: 11px;
    height: 1px;
    background: #000000;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }

  #cssmenu .left-logo {
    width: 90%;
  }

  #cssmenu .left-logo > img {
    display: none;
  }

  #cssmenu .left-logo > a {
    display: initial;
    font-size: 10pt;
  }

  .search-bar-tip {
    position: absolute;
    top: -11px;
    right: 20px;
  }

  .search-block {
    font-size: 10pt;
  }

  .search-block924 {
    display: block;
  }
}

@media all and (max-width: 500px) {
  #cssmenu .left-logo {
    width: 83%;
    margin-top: -10px;
  }
}

@media all and (max-width: 320px) {
  .lang-select {
    float: none;
    display: block;
    margin-bottom: 5px;
  }
}